.rotating-beer {
  animation: rotation 2s infinite linear;
  width: 100px;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
