.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ft-examples--menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ft-examples--menu > li {
  width: 180px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.ft-examples--menu > li > a {
  text-decoration: none;
  color: #fff;
}
.ft-examples--menu > li:hover {
  background-color: steelblue;
  opacity: 0.9;
  color: #fff;
  cursor: pointer;
}

.ft-examples--menu__active {
  background-color: steelblue;
  color: #fff;
  cursor: pointer;
}
