.ft-table--cell__header {
  display: table-cell;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  /*border-color: #e9e9e9 #e9e9e9 #cfd8dc;*/
  border-image: initial;
  padding: 6px;
  background-color: #fff;
  /*background-color: #f5f5f5;*/
  font-weight: bold;
  vertical-align: middle;
  /* min-width: 150px;
  max-width: 150px; */
  box-sizing: border-box;
  font-size: 11px;
  position: relative;
}

.ft-table--cell__header:hover {
  color: #108ee9;
  cursor: default;
}

.ft-table--cell__header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.ft-table--cell__header--resizable {
  height: 100%;
  width: 5px;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  cursor: col-resize;
}

.ft-table--cell__header--resizable:active {
  background: #108ee9;
}
.ft-table--cell__header--resizable:hover {
  background: #108ee9;
}
