.ft-cell__container {
  display: table-cell;
  position: relative;
  //padding-left: 4px;
  min-width: 150px;
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: default;
  transition: all 0.1s ease;
}

.ft-cell__container:focus {
  outline: none;
}

.ft-cell__container--normal {
  border: 1px solid #dde1e3;
}

.ft-cell__container--active {
  border: 1px double #108ee9;
  //min-width: 150px;
  //max-width: 150px;
  //margin-left: -1px;
  background-color: #fff;
  position: relative;
}

.ft-cell__content--normal {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.ft-cell__content--normal:focus {
  outline: none;
}

.ft-cell__content--active--readonly {
  //padding: 4px;
  color: #919191;
  background-color: #eeeeee;
  margin: -4px;
  width: 150px;
  height: 29px;
}
.ft-cell__content--notvalid--mandatory {
  color: #f04134;
}
.ft-cell__content--notvalid {
  color: #f04134;
}

.ft-cell__icon--mandatory {
  position: absolute;
  right: 0;
  top: -2px;
  color: #d73435;
  font-size: 12px;
}

.ft-cell__icon--error {
  position: absolute;
  right: 1px;
  bottom: -1px;
  color: #d73435;
  font-size: 8px;
}
